.swatch {
  padding: 5px;
  background: #fff;
  border-radius: 1px;
  border: 1px dotted grey;
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
}

.color {
  width: 36px;
  height: 17px;
  border-radius: 2px;
}

.colorNone {
  width: 36px;
  height: 14px;
  position: relative;
  overflow: hidden;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 200%;
    height: 1px;
    background: red;
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

.colorPicker {
  position: absolute;
}

.reset-btn {
  vertical-align: top;
}